[Unit]
Description=Create AP Service
After=network.target

[Service]
Type=simple
# Start the create_ap service with the specified configuration file
ExecStart=/usr/bin/create_ap --config /etc/create_ap.conf
KillSignal=SIGINT
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
